body {
    background-image: url("http://www.patsiga.net/images/backgrounds/produce2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    background-color: white;
}
#submitButtonCss {
    margin: 5px 0;
}
.space{
    margin-left: 10px;
    margin-top: 10px;
}